.container{
    
   display: flex;
  /* justify-content: center; */
   /* align-items: center; */
   /* justify-content: space-between; */
   /* justify-content: space-around; */
   flex-wrap: wrap;
    
  
    background-color: yellow;
    height: 100vh;
     
}

.box{

    height: 200px;
    width: 24%;
    background-color: black;
    margin: 5px;
   
}

